.wrap
  .back
    .back__slide.active
      .progress
    .back__slide
      .progress
      .back-front-image
  .card
    .card__slide.active
      .image
      span.number 01
      span.date 30 MARCH 2023
        span.date__time 12:37PM
    .card__slide
      .back-image
      .image
      span.number 02
      span.date 30 MARCH 2023
       span.date__time 12:37PM
    .content
      .content__slide.active
        h2.title 
          span.title__line 
            span.title__inner Mesmerizing
          span.title__line 
            span.title__inner Depths
        p.desc Nunc orci metus, ornare non molestie ac, ultrices eget <br/> dolor. Mauris ac mattis lectus. Praesent facilisis <br/> malesuada sapien nec pharetra. Fusce eleifend, nisl.
        .button-wrap
          a.button Learn More
            span.button__hover
      .content__slide
        h2.title 
          span.title__line 
            span.title__inner Breathtaking
          span.title__line 
            span.title__inner Heights
        p.desc Nunc orci metus, ornare non molestie ac, ultrices eget  <br/> dolor. Mauris ac mattis lectus. Praesent facilisis  <br/> malesuada sapien nec pharetra. Fusce eleifend, nisl.
        .button-wrap
          a.button Learn More
            span.button__hover
      .content__ping.content__ping--noanimation